/*
Cores:
    Vermelho: #FA0500
    Cinza-Escuro: #2E2E2E
    Cinza-Claro: #707070
    Roxo-Claro: #B57DD9

Fonte: 
    SF Pro Text
    Georgia
    Times New Roman (titulos das seções)

    .875em = 14px;
    1.125 = 18px;
    1.3125 = 21px;
*/

/* Estilos principais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text";
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.titulo-sessao {
    font-family: "Times New Roman";
    font-size: 3.5em;   /* 56px */
    color:#2E2E2E;
    margin-top: 100px;
}

.desc-sessao {
    font-family: "Times New Roman";
    font-size: 1.5em;
    color:#707070;
}

.desc-sessao::after {
    content: '';
    display: block;
    border: 3px solid #FA0500;
    width: 93px;
    border-radius: 8px;
    margin-top: 15px;
}

.btn-red {
    display: block;
    border: 1px solid #FA0500;
    background: none;
    color:#FA0500;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 8px 5px;
    transition: all .5s ease-out;
}

.btn-red:hover {
    border-color: #2E2E2E;
    color:#2E2E2E;
}

/* Header */

/* menu responsivo */
.menu-responsivo {
    display: none;
}

.botao-sanduiche {
    border:none;
    font-size: 1em;
    padding: .5;
    border:1px solid #FA0500;
}

/* Fundo quando clica */
.menu-responsivo-icon { 
    background-color:#f0f0f0;
    padding: 1em;
    margin: 0;

    height: 100%;
    width: 50%;
    max-width: 400px;

    position: fixed;
    z-index: 1;
    top: 0;

    left: -80%;

    transition: left 0.4s ease-out;
}

.menu-on .menu-responsivo-icon {
    left:0;
}

.menu-on:after {
    content:"";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
}

.close-menu{
   margin: 0 auto;
}

.navbar-light .navbar-nav .nav-link {
    color:#707070;
    margin-top: 1em;
    text-align: center;
}

.navbar-nav li a {    
    font-size:  1.125em;
    text-decoration: none;
}


/* fim menu responsivo */

header {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.16);
    padding: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header {
    flex:3;  
}

.menu-header ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2em;
}

.menu-header ul li a {
    font-size: .875em; /* 14px */
    text-decoration: none;
    color:#FA0500;
}

.logo-header {
    flex:1;
}

/* Banner */

.banner {
    background: url('../img/banner/canada-neve-banner.jpg') no-repeat;
    background-size: cover;
    height: 600px;
}

.banner h1 {
    font-family: "Georgia";
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    line-height: 3.43rem;
    color:#fff;
    width: 220px;
    display: block;
    padding: 100px 0px 20px;
    margin: 0 auto;
}

.banner h1::after {
    content: '';
    display: block;
    background: url('../img/linha.png') no-repeat;
    width: 100%;
    height: 2px;
}

.banner p {
    font-size: .875em;
    text-align: center;
    line-height: 1.31rem;
    color:#fff;
    width: 260px;
    display: block;
    margin: 0 auto;
}

/* Destinos */

/* .destinos {
    margin-top: 100px;
} */

.destino-destaque {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.destino-imagem {
    flex: 1;
}

.destino-imagem img {
    border-radius: 8px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.16);
    margin-right: 10px;
}

.destino-desc {
    flex: 3;
}

.desc {
    max-width: 400px;
}

.destino-desc h2 {
    font-size: 1.125em;
    color:#FA0500;
    margin-bottom: 18px;
}

.destino-desc p {
    min-width: 280px;
    color:#707070;
    font-size: .875em;
    line-height: 1.3125rem;
}

.destino-desc .btn-red {
    max-width: 180px;
    margin-top: 15px;
}

.lista-destinos {
    margin-top: 45px;

}

.lista-destinos ul li {
    display: inline-block;
}

.clima {
    margin-top: 100px;
}

.localizacao {
    margin-top: 60px;
}

.localizacao a {
    font-size: 1.125em;
    text-decoration: none;
    color:#FA0500;  
}

.localizacao a::after {
    content: '....';
    margin-left: 5px;    
    color:rgba(0,0,0,0);
    background: url('../img/clima/icon_localizacao.png') no-repeat;
    width: 100%;
}

.localizacao span {
    display: block;
    font-size: .875em;
    color:#707070;
    margin-top: 5px;
}

.temperatura-semana {
    display: flex;
    flex-wrap: wrap;
}

.day {
    text-align: center;
    max-width: 168px;
    margin: 60px auto 80px;
}

.day p {
    font-size:1.125em;
    margin-bottom: 5px;
    color:#B57DD9;
}

.day span {
    display: block;
    font-size: .875em;
    color:#707070;
}

.clima .btn-red {
    max-width: 150px;
    margin: 0 auto;
}

/* Opnioes */

/* .opnioes {
    margin-top: 100px;
} */

.citacoes {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.citacoes blockquote {
    color: #707070;
    font-size:1em;
    line-height: 1.56em;
    text-align: center;
    flex:1 1 40%;  
    min-width: 300px;
    max-width: 350px;
    margin-bottom: 80px;
}

.citacoes blockquote cite::before, .citacoes blockquote cite::after {
    content: '"';
}

.citacoes p {
    color:#000;
}

.opnioes .btn-red {
    display: block;
    margin: 0 auto;
    max-width: 180px;
    margin-top: 15px;
}

/* Culinaria */

/* .culinaria {
    margin-top: 100px;
} */

.pratos-tipicos {
    margin-top: 50px;
}

.pratos-tipicos img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.16);
}

.primeira-linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.primeira-linha div {
    /* flex: 1; */
    max-width: 24%;
}

.primeira-linha div:nth-of-type(2){
    /* flex: 2; */
    max-width: 49%;
}

.segunda-linha {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    justify-content: space-between;
}

.segunda-linha div {
    /* flex: 1; */
    max-width: 49%;
}

.terceira-linha {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    justify-content: space-between;
}

.terceira-linha div {
    /* flex: 1; */
    max-width: 15%;
}

/* Imigração */

.artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article {
    flex: 1 1 45%;
    max-width: 45%;
}

.titulo-artigo {
    margin-top: 50px;
    font-size: 1.125em;
    color:#FA0500;
}

.conteudo-artigo {
    font-size: .875em;
    line-height: 1.3125em;
    text-indent: 2em;
    color:#707070;
    margin-top: 1em;    
    text-align: justify;
}

.viajar-legalmente {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.img-imigracao {
    position: relative;
    flex: 1 1 25%;
    display: block;
}

.img-imigracao img {
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0,0,0,.16);
}

.img-imigracao div:last-child {
    position: absolute;
    top: 51px;
    left: 114px;
    z-index: -1;
}

.desc-imigracao {
    flex: 1 1 45%;
}

.desc-imigracao h2 {
    margin-top: 0;
}

/* Footer */

footer {
    background-color: #2E2E2E;
    margin-top: 100px;
}

.conteudo-footer {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteudo-footer h3 {
    color:#FA0500;
}

.redes-sociais, .contato {
    flex: 2;
}

.redes-sociais a{
    color:#fff;
    text-decoration: none;
    display: block;
}

.contato p {
    color:#fff;
}

.logo-footer {
   flex: 1;
}

.logo-footer img {
    max-width: 50%;
}

.direitos {
    background-color: #FA0500; 
    padding: 15px 0;
    color:#fff;
}