@media only screen and (max-width: 400px){
    .titulo-sessao {
        margin-top: 100px;
    }
}

@media only screen and (max-width:850px) and (min-width:762px) {
    .desc-imigracao {
        flex: 1 1 55%;
        max-width: 55%;
    }
}

@media only screen and (max-width:761px) and (min-width:601px) {
    
    .citacoes {
        justify-content: center;
       
    }

    .citacoes blockquote {
        flex: 1 1 80%;
        max-width: 80%;    
    }

    .desc-imigracao {
        flex: 1 1 100%;
        max-width: 100%;
        order: 1;
    }

    .img-imigracao {
        order: 2;
        margin-top: 2em;
    }
}



/* Abaixo do tablet */
@media only screen and (max-width:600px) and (min-width:364px) {

    /* Menu responsivo */
    .menu-responsivo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        display: none;
    }

    .logo-header-responsivo {
        margin-right: 1em;
    }
    /* Fim menu responsivo */

    .citacoes {
        justify-content: center;
    }

    .primeira-linha div:nth-of-type(1) {
        order: 1;
        max-width: 49%;
        margin-right: 5px;
    }

    .primeira-linha div:nth-of-type(3) {
        order: 2;
        max-width: 49%;
    }

    .primeira-linha div:nth-of-type(2) {
        order: 3;
        max-width: 100%;
        margin: 0 0;
    }   

    .terceira-linha div {
        max-width: 33%;
    }

    .artigos article {
        flex: 1 1 100%;
        max-width: 100%;

    }

    .desc-imigracao {
        flex: 1 1 100%;
        max-width: 100%;
        order: 1;
    }

    .img-imigracao {
        order: 2;
        margin-top: 2em;
    }
}

@media only screen and (max-width:363px) {

    /* Menu responsivo */
    .menu-responsivo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        display: none;
    }

    .logo-header-responsivo {
        margin-right: 1em;
    }
    /* Fim menu responsivo */

    .primeira-linha div:nth-of-type(1) {
        order: 1;
        max-width: 49%;
        margin-right: 5px;
    }

    .primeira-linha div:nth-of-type(3) {
        order: 2;
        max-width: 49%;
    }

    .primeira-linha div:nth-of-type(2) {
        order: 3;
        max-width: 100%;
        margin: 0 0;
    }

    .segunda-linha div {
        max-width: 100%;
        margin: 0 0;
    }

    .terceira-linha div {
        max-width: 49%; 
    }

    .artigos article {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .desc-imigracao {
        flex: 1 1 100%;
        max-width: 100%;
        order: 1;
    }

    .img-imigracao {
        order: 2;
        margin-top: 2em;
    }

    .conteudo-footer {
        text-align: center;
    }

    .redes-sociais, .contato  {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .contato {
        margin-top: 2em;
    }

    .logo-footer {
        flex: 1 1 100%;
        max-width: 100%;
    }
    
    .direitos {
        text-align: center;
        font-size: .8em;
    }
}