:root {
    --primeira-cor:#333;
    --segunda-cor:#CA2730;
 }

@font-face {
    font-family: 'Pecita';
    src:
        url('../fonts/pecita.otf') format('opentype'),
        url('../fonts/pecita.woff2') format('woff2'),
        url('../fonts/pecita.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    color:var(--primeira-cor);
}

/**************
    DEFAULTS
***************/

.flex-content {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

h1 {
   font-weight: lighter;
}

p {
    font-size: 1.125em; /*18px*/
    line-height: 1.625em; /*26px*/
}

span {
    color: var(--segunda-cor);
    font-weight: normal;
}



a, a:hover {
    color:var(--primeira-cor);
}

.line {
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
    margin: 30px auto;
    margin-top: 10px;
}

.btn {
    background-color: var(--primeira-cor);
    padding: 14px 16px;
    border-radius: 2px;
    color:#fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: color .2s, background .2s linear;
}

.btn:hover {
    color:var(--primeira-cor);
    background-color:rgba(0, 0, 0, 0.2);
}

.red-clip-path {
    background-color: var(--segunda-cor);
    width: 100%;
    height: calc(100vh - 25px);
    position: absolute;
    -webkit-clip-path: polygon(100% 25%, 25% 100%, 100% 100%);
    clip-path: polygon(100% 25%, 25% 100%, 100% 100%);
}


.text-red-clip-path p {
    position: absolute;
    color:#fff;
    bottom: .2em;
    right: .4em;
    font-size: 7em;
    line-height: 1em;
    text-align: right;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.mobile-red-clip-path {
    display: none;
}


/*************
    HEADER
*************/
h1.logo-text {
    font-family: 'Pecita';
    font-weight: normal;
    font-size: 1.5em; /*24px*/
}

h1.logo-text a {
    transition: color .2s linear;
}

h1.logo-text a:hover {
    text-decoration: none;
    color:var(--segunda-cor);
}

header {
    margin-top: 25px;
}

header nav ul li {
    display: inline-block;
    padding: 0 0 0 20px;
}


/*************
    HELLO
*************/
.home {
    margin-top: 10em;
}

.hello {

}

.picture {
    position: relative;
    width: 256px;
}

.profile-photo {
    border-radius: 100%;
    background-image: url('../img/profile-picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 256px;
    height: 256px;
    position: relative;
    box-shadow: 0 6px 0 var(--segunda-cor);
}

.social-icons {
   text-align: center;
   margin-top: 1em;
}

.social-icons a {
    padding: 0 .3em;
}

.social-icons a:hover{
    text-decoration: none;
}

.social-icons a i {
    transition: all .2s linear;
    padding: .3em;
    color:#fff;
    background-color: var(--segunda-cor);
    border-radius: 100%;
}

.social-icons a:hover i {
    background-color:#fff;
    color: var(--segunda-cor);
}

.hello-text {
    margin-top: 1em;
    margin-left: 3em;
    width: 60%;
}

.hello h1 {
    font-size: 2.25em; /*36px*/
}

.btn i {
    margin-left: .5em;
}



/*************
  ABOUT ME
*************/


.about-me {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items:center;
   justify-content: center;
}

.about-me ul li {
   display: inline-block;
   opacity: .7;
   background-color:#ccc;
   padding: .2em 1em;
   border-radius: 20px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
   margin: .2em auto;
}

.about-me-picture {
   margin-left: 5em;
}

.about-me-text p.follow-me {
   font-weight: bold;
}

.about-me-text .social-icons {
   text-align: left;
}

.about-me-text .social-icons i {
   background-color: var(--primeira-cor);
}
