:root {
   --primeira-cor:#333;
   --segunda-cor:#CA2730;
}

/**COLORS**/

.my-red {
   color:#DC7D82;
}

div.my-red {
   background-color: #DC7D82;
}

.my-green {
   color:#47B566;
}

div.my-green {
   background-color:#47B566;
}

.my-orange {
   color:#F0A45E;
}

div.my-orange {
   background-color:#F0A45E;
}

.my-black {
   color:#2d3436;
}

div.my-black {
   background-color:#2d3436;
}


/**********/

@font-face {
   font-family: 'Pecita';
   src:
   url('../fonts/pecita.otf') format('opentype'),
   url('../fonts/pecita.woff2') format('woff2'),
   url('../fonts/pecita.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Work Sans', sans-serif;
   color:var(--primeira-cor);
}

/**************
DEFAULTS
***************/

.flex-content {
   display: flex;
}

.space-between {
   justify-content: space-between;
}

h1 {
   font-weight: lighter;
}

p {
   font-size: 1.125em; /*18px*/
   line-height: 1.625em; /*26px*/
}

span {
   color: var(--segunda-cor);
   font-weight: normal;
}

.link {
   color:var(--segunda-cor);
}

a, a:hover {
   color:var(--primeira-cor);
}

.line {
   width: 100%;
   height: 1px;
   background-color: #E9E9E9;
   margin: 30px auto;
   margin-top: 10px;
}

.btn {
   background-color: var(--primeira-cor);
   padding: 14px 16px;
   border-radius: 2px;
   color:#fff;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
   transition: color .2s, background .2s linear;
}

.btn:hover {
   color:var(--primeira-cor);
   background-color:rgba(0, 0, 0, 0.2);
}
.red-clip-path {
   background-color: var(--segunda-cor);
   width: 100%;
   height: calc(100vh - 25px);
   position: absolute;
   -webkit-clip-path: polygon(100% 55%, 35% 100%, 100% 100%);
   clip-path: polygon(100% 55%, 35% 100%, 100% 100%);
}


.text-red-clip-path p {
   position: absolute;
   color:#fff;
   bottom: .2em;
   right: .4em;
   font-size: 3em;
   line-height: 1em;
   text-align: right;
   color: #FFFFFF;
   font-weight: bold;
   text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.mobile-red-clip-path {
   display: none;
}

.align-right {
   text-align: right;
   position: absolute;
   right: 1em;
   font-style: italic;
}


/*************
HEADER
*************/
h1.logo-text {
   font-family: 'Pecita';
   font-weight: normal;
   font-size: 1.5em; /*24px*/
}

h1.logo-text a {
   transition: color .2s linear;
}

h1.logo-text a:hover {
   text-decoration: none;
   color:var(--segunda-cor);
}

header {
   margin-top: 25px;
}

header nav ul li {
   display: inline-block;
   padding: 0 0 0 20px;
}


/*************
HELLO
*************/
.home {
   margin-top: 10em;
}

.hello {

}

.picture {
   position: relative;
   width: 256px;
}

.profile-photo {
   border-radius: 100%;
   background-image: url('../img/profile-picture.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 256px;
   height: 256px;
   position: relative;
   box-shadow: 0 6px 0 var(--segunda-cor);
}

.social-icons {
   text-align: center;
   margin-top: 25px;
}

.social-icons a {
   padding: 0 .3em;
}

.social-icons a:hover{
   text-decoration: none;
}

.social-icons a i {
   transition: all .2s linear;
   padding: .3em;
   color:#fff;
   background-color: var(--segunda-cor);
   border-radius: 100%;
}

.social-icons a:hover i {
   background-color:#fff;
   color: var(--segunda-cor);
}

.hello-text {
   margin-top: 1em;
   margin-left: 3em;
   width: 60%;
}

.hello h1 {
   font-size: 2.25em; /*36px*/
}

.btn i {
   margin-left: .5em;
}



/*************
ABOUT ME
*************/


.about-me {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items:center;
   justify-content: center;
}

.about-me ul li {
   display: inline-block;
   opacity: .7;
   background-color:#ccc;
   padding: .2em 1em;
   border-radius: 20px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
   margin: .2em auto;
}

.about-me-picture {
   margin-left: 5em;
}

.about-me-text p.follow-me {
   font-weight: bold;
   margin-bottom: 0;
}

.about-me-text .social-icons {
   text-align: left;
   margin:0;
   margin-bottom: 10px;
}

.about-me-text .social-icons i {
   background-color: var(--primeira-cor);
}


/*************
Projetos
*************/

.projetos-realizados .projetos {
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.projetos-realizados .card-projeto {
   background-image: linear-gradient(126deg, #645395 50%, #5C4A8F 50%); /*645395*/
   width: 16em;
   height: 350px;
   color:#fff;
   padding: 25px 5px 0 25px;
   border-radius: 2px;
   transition: border-radius .1s ease-in;
   margin: .5em .5em;
   transition: transform .4s, box-shadow .4s linear;
}

/* .projetos-realizados .card-projeto:nth-child(even) {
   border-radius: 2px 2px 50px 2px;
} */

.projetos-realizados .card-projeto a {
   color:#E5E5E5;
   text-decoration: underline;
}

.projetos-realizados .card-projeto a i {
   margin-right: .5em;
}

.projetos-realizados .card-projeto:hover {
   box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.16);
   transform: scale(1.05);
}

.projetos-futuros .titulo-sessao {
   margin:3em 0;
}

.projetos-futuros .card-projeto {
   border-radius: 2px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
   width: 18em;
   padding: 25px 25px;
   height: 320px;
   text-align: center;
   position: relative;
   margin-bottom: 2em;
}

.projetos-futuros .card-projeto h2 {
   /* height: 3em; */
}

.projetos-futuros .card-projeto p {

   color:#5E5E5E;
}

.projetos-futuros .card-projeto a {
   text-decoration: underline;
   font-weight: bold;
   position: absolute;
   width: 100%;
   left: 0;
   text-align: center;
   bottom: 5px;
}

.projetos-futuros .barra-lateral {
   width: 3px;
   height: 140px;
   position: absolute;
   top:25%;
   left:-10px;
}

.projetos-futuros .projetos {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

/**************
   Contato
***************/

.contato-box,
.social-box {
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-radius: 8px;
   position: relative;
   padding: 25px;
   width: 400px;
   margin: 35px 0;
}

.contato-box .titulo-sessao,
.social-box .titulo-sessao {
   position: absolute;
   top: -1em;
   left:2em;
   background: #fff;
   padding: 0 .5em;
}

.contato-box p span {
   display: block;
}

.social-box {
   width: 100%;
}

.social-info {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   flex-wrap: wrap;
}

.social-info p {
   margin:0;
}

.social-info span {
   display: block;
}

.social-info span a {
   color:var(--segunda-cor);
}

.facebook, .instagram, .github, .dribbble {
   margin-bottom: 25px;
}

/* LISTA ITENS */
.about-me ul.normal-list li {
   opacity: 1;
   color:#fff;
   display: block;
   position: relative;
}

.normal-list span {
   color:rgba(0,0,0,.4);
}

ul li.red-item {
   background-color:#DC7D82;
}

ul li.green-item {
   background-color:#47B566;
}

ul li.orange-item {
   background-color:#F0A45E;
}


/* legenda */

.legenda {
   border:1px solid rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   padding: 1em;
   margin-bottom: 2em;
}

div.legenda p {
   margin-bottom: 0;
   font-size: .9rem;
   font-style: italic;
}

div.legenda p:first-child {
   color: rgba(0, 0, 0, 0.5);
   font-style: normal;
}

/* Update */

div.update {
   background-color: rgba(0, 0, 0, 0.1);
   border-radius: 3px;
   border:0.5px solid rgba(0, 0, 0, 0.1);
   padding: 1em;
   margin-bottom: 2em;
}

div.update p {
   font-size: .8rem;
}

.update-data::after {
   content: '-';
   margin-left: 1em;
   font-weight: normal;
}

.update-data {
   color:rgba(0, 0, 0, 0.5);
   margin-right: 1em;
   font-style: italic;
   font-weight: bold;
}
