@media (max-width:1110px ){
   .red-clip-path {
      -webkit-clip-path: polygon(100% 55%, 35% 100%, 100% 100%);
      clip-path: polygon(100% 65%, 55% 100%, 100% 100%);
   }
   .text-red-clip-path p {
      font-size: 2em;
   }
}

@media (max-width:970px ){
   .red-clip-path {
      -webkit-clip-path: polygon(100% 55%, 35% 100%, 100% 100%);
      clip-path: polygon(100% 70%, 60% 100%, 100% 100%);
   }
   .text-red-clip-path p {
      font-size: 1.5em;
   }
}

@media (max-width:770px ){
   .about-me {
      grid-template-columns: 1fr;
   }

   .about-me div:first-child {
      order: 2;
   }

   .about-me div:last-child {
      order: -1;
      margin: 2em auto;
      margin-top: 1em;
   }

   .about-me-picture {
      width: 128px;
      height: 128px;
   }

   .projetos-futuros .projetos {
      justify-content: center;
   }

   .social-info {
      grid-template-columns: repeat(1,1fr);
   }

   .red-clip-path {
      display: none;
   }

   .text-red-clip-path p {
      display: none;
   }

   .mobile-red-clip-path {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items:center;
      justify-content: center;
      text-align: center;
      padding: .8em 0;
      width: 100%;
      margin-top: 1em;
      background-color: var(--segunda-cor);
      color:#fff;
      font-style: italic;
   }

   .mobile-red-clip-path p {
     margin:0;
  }
}

/*mobile*/
@media (max-width:690px ){
    .home {
        margin-top: 3em;
    }

    .hello {
        display: block;
    }

    .picture {
        width: 100%;
    }

    .profile-photo {
        margin: 0 auto;
    }
    .hello-text {
        margin: 2em auto;
        text-align: center;
    }
}

@media (max-width:512px){

    header .container div {
        display: block;
        text-align: center;
    }

    .contato-box {
      width: 100%;
   }
}
